In [1]:
import pandas as pd

Problem 1 - Sorting
1. Create a DataFrame called fare that containas only the Fare column of the titanic dataset. Print the head of the result.

In [ ]:
fare = pd.read_csv('/content/drive/MyDrive/Concepts and Technologies of AI/Titanic-Dataset.csv')
fare = fare['Fare']
fare.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

2. Create a DataFrame called class_age that contains only the Pclass and Age columns of the Titanic dataset, in that order. Print the head of the result.

In [ ]:
class_age = pd.read_csv('/content/drive/MyDrive/Concepts and Technologies of AI/Titanic-Dataset.csv')
class_age = class_age[['Pclass', 'Age']]
class_age.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

3. Create a DataFrame called survived_gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [ ]:
survived_gender = pd.read_csv('/content/drive/MyDrive/Concepts and Technologies of AI/Titanic-Dataset.csv')
survived_gender = survived_gender[['Survived', 'Sex']]
survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem - 2 - Subsetting:

Complete all the following Task:
Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare_gt_100.View the printed result.

In [ ]:
fare_gt_100 = fare[fare > 100]
print("Fare greater than 100: ")
print(fare_gt_100.head())

Fare greater than 100:
27     263.0000
31     146.5208
88     263.0000
118    247.5208
195    146.5208
Name: Fare, dtype: float64

2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first_class.View the printed result.

In [ ]:
first_class = class_age[class_age['Pclass']==1]
print("First class passenger: ")
print(first_class.head())

First class passenger:
    Pclass   Age
1        1  38.0
3        1  35.0
6        1  54.0
11       1  58.0
23       1  28.0

3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female_under_18. View the printed result.

In [2]:
titanic_data = pd.read_csv('/content/drive/MyDrive/Concepts and Technologies of AI/Titanic-Dataset.csv')
female_under_18 = titanic_data[(titanic_data['Sex']=="female")&(titanic_data['Age']<18)]
print("Female under 18: ")
print(female_under_18.head())

Female under 18:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.

In [3]:
embarked_c_or_s = titanic_data[titanic_data['Embarked'].isin(['C', 'S'])]
print("Embarked C or S: ")
print(embarked_c_or_s.head())

Embarked C or S:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first_second_class.View the printed result.

In [ ]:
first_second_class = titanic_data[titanic_data['Pclass'].isin([1, 2])]
print("First or Second class: ")
print(first_second_class.head())

First or Second class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

# 3.2 Exploratory Data Analysis Practice Exercise - 1.

Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare_per_year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).

In [4]:
titanic_data["Age"]=titanic_data["Age"].fillna(titanic_data["Age"].median())
total_fare = titanic_data["Fare"].sum()
print("Total fares: ")
print(total_fare)

Total fares:
28693.9493

2. Subset rows where fare_per_year is higher than 5, assigning this to high_fare_age.

In [5]:
#Create a new column
fare_per_year = titanic_data["Fare"]/titanic_data["Age"]
#Subset rows
high_fare_age = titanic_data[fare_per_year>5]
print(high_fare_age.head())

    PassengerId  Survived  Pclass  \
7             8         0       3
16           17         0       3
27           28         0       1
31           32         1       1
43           44         1       2

                                              Name     Sex   Age  SibSp  \
7                   Palsson, Master. Gosta Leonard    male   2.0      3
16                            Rice, Master. Eugene    male   2.0      4
27                  Fortune, Mr. Charles Alexander    male  19.0      3
31  Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.0      1
43        Laroche, Miss. Simonne Marie Anne Andree  female   3.0      1

    Parch         Ticket      Fare        Cabin Embarked
7       1         349909   21.0750          NaN        S
16      1         382652   29.1250          NaN        Q
27      2          19950  263.0000  C23 C25 C27        S
31      0       PC 17569  146.5208          B78        C
43      2  SC/Paris 2123   41.5792          NaN        C

3. Sort high fare age by descending fare per year, assigning this to high fare age srt.

In [7]:
high_fare_age_srt = high_fare_age.sort_values(by="Fare", ascending=False)
print(high_fare_age_srt.head())

     PassengerId  Survived  Pclass                                Name  \
737          738         1       1              Lesurer, Mr. Gustave J
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
258          259         1       1                    Ward, Miss. Anna
88            89         1       1          Fortune, Miss. Mabel Helen
27            28         0       1      Fortune, Mr. Charles Alexander

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
737    male  35.0      0      0  PC 17755  512.3292         B101        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
88   female  23.0      3      2     19950  263.0000  C23 C25 C27        S
27     male  19.0      3      2     19950  263.0000  C23 C25 C27        S

4. Select only the Name and fare per year columns of high fare age srt and save the result as result.

In [8]:
result = high_fare_age_srt[['Name', 'Fare']]
print(result.head())

                                   Name      Fare
737              Lesurer, Mr. Gustave J  512.3292
679  Cardeza, Mr. Thomas Drake Martinez  512.3292
258                    Ward, Miss. Anna  512.3292
88           Fortune, Miss. Mabel Helen  263.0000
27       Fortune, Mr. Charles Alexander  263.0000

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.

In [14]:
titanic_data['Fare_per_class']=titanic_data['Fare']/titanic_data['Pclass']
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket       Fare Cabin Embarked  Fare_per_class
0      0         A/5 21171   2.416667   NaN        S        0.805556
1      0          PC 17599  71.283300   C85        C       71.283300
2      0  STON/O2. 3101282   2.641667   NaN        S        0.880556
3      0            113803  53.100000  C123        S       53.100000
4      0            373450   2.683333   NaN        S        0.894444

2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.

In [16]:
adult_males=titanic_data[(titanic_data['Sex']=='male') & (titanic_data['Age']>=18)]
print(adult_males[['Name', 'Sex', 'Age', 'Fare_per_class']].head())

                              Name   Sex   Age  Fare_per_class
0          Braund, Mr. Owen Harris  male  22.0        0.805556
4         Allen, Mr. William Henry  male  35.0        0.894444
5                 Moran, Mr. James  male  28.0        0.939811
6          McCarthy, Mr. Timothy J  male  54.0       51.862500
12  Saundercock, Mr. William Henry  male  20.0        0.894444

3. Sort adult males by descending fare per class, assigning this to adult males srt.

In [17]:
adult_males_srt = adult_males.sort_values(by='Fare', ascending=False)
print(adult_males_srt[['Name', 'Age', 'Fare_per_class']].head)

<bound method NDFrame.head of                                    Name   Age  Fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
179                 Leonard, Mr. Lionel  36.0          0.0000
732                Knight, Mr. Robert J  28.0          0.0000
822     Reuchlin, Jonkheer. John George  38.0          0.0000
806              Andrews, Mr. Thomas Jr  39.0          0.0000
815                    Fry, Mr. Richard  28.0          0.0000

[519 rows x 3 columns]>

4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.

In [18]:
result = adult_males_srt[['Name', 'Age', 'Fare_per_class']]
print(result.head())

                                   Name   Age  Fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

# 3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

What percent of the total fare revenue came from each passenger class?
To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.

In [19]:
total_fare=titanic_data['Fare'].sum()
print(total_fare)

22316.56505

2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.

In [20]:
first_class_pessengers = titanic_data[titanic_data['Pclass']==1]
total_fare_first_class = first_class_pessengers['Fare'].sum()
print("Total fare for first-class passengers: ", total_fare_first_class)

Total fare for first-class passengers:  18177.4125

3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).

In [21]:
second_class_passengers = titanic_data[titanic_data['Pclass']==2]
total_fare_second_class = second_class_passengers['Fare'].sum()
print("Total fare for second-class passengers: ", total_fare_second_class)

Total fare for second-class passengers:  1900.92085

In [22]:
third_class_passengers = titanic_data[titanic_data['Pclass']==3]
total_fare_third_class = third_class_passengers['Fare'].sum()
print("Total fare for third-class passengers: ", total_fare_third_class)

Total fare for third-class passengers:  2238.2317000000003

4. Combine the fare totals from first, second, and third classes into a list.

In [24]:
total_fare_per_class = titanic_data.groupby('Pclass')['Fare'].sum()
fare_totals_list = total_fare_per_class.tolist()
print("fare totals by classes: ", fare_totals_list)

fare totals by classes:  [18177.4125, 1900.92085, 2238.2317]

5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [25]:
total_fare = titanic_data['Fare'].sum()
fare_proportion_per_class = total_fare_per_class / total_fare
fare_proportion_list = fare_proportion_per_class.tolist()
print("Proportion of fare revenue by class: ", fare_proportion_list)

Proportion of fare revenue by class:  [0.8145255535192678, 0.08517981354841164, 0.10029463293232037]

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?
To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).

In [27]:
#Create new column
def categorize_age(age):
  if age<18:
    return 'child'
  elif age>=18 and age<65:
    return 'adult'
  else:
    return 'senior'

titanic_data['Age_group']=titanic_data['Age'].apply(categorize_age)
print(titanic_data[['Name', 'Age', 'Age_group']].head())

                                                Name   Age Age_group
0                            Braund, Mr. Owen Harris  22.0     adult
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0     adult
2                             Heikkinen, Miss. Laina  26.0     adult
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0     adult
4                           Allen, Mr. William Henry  35.0     adult

2. Calculate the total number of passengers on the Titanic.

In [28]:
total_passengers=len(titanic_data)
print("Total number of passengers: ", total_passengers)

Total number of passengers:  891

3. Count the number of passengers in each age group.

In [30]:
age_group_counts=titanic_data['Age_group'].value_counts()
print("Number of passengers in each age group: ", age_group_counts)

Number of passengers in each age group:  Age_group
adult     767
child     113
senior     11
Name: count, dtype: int64

4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.

In [31]:
age_group_proportions=age_group_counts/total_passengers
print("Proportion of passengers in each age group: ", age_group_proportions)

Proportion of passengers in each age group:  Age_group
adult     0.860831
child     0.126824
senior    0.012346
Name: count, dtype: float64

5. Display the proportion as a percentage.

In [35]:
age_group_percentage = (age_group_counts/total_passengers)*100
print("Percentage of passengers in each age group: ", age_group_percentage)

Percentage of passengers in each age group:  Age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64